@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>UCOL Universal College of Learning</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Team AWOL</h2>
        <p>
            Welcome to a load of sweat, blood and tears. </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch, using copy and paste.</h2>
        <p>You can build the application by following the steps in the powerpoints provided by Minjie Hu</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.But don't, because GitHub will steal your soul.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>
